In [28]:
import biom
import pandas as pd

In [29]:
#loading latest agp fecal biom table
agp_table=biom.load_table("../../otu_100nt_mnm_jose.biom")

In [30]:
agp_samples=agp_table.ids('sample')
len(agp_samples)

10885

In [33]:
mm=pd.read_table("../data/ag278_w_scores.txt", dtype=str, sep='\t')
mm=mm.set_index("index")

In [34]:
lost_samples=[]
count=0
for sample in mm.index:
    if sample not in agp_samples:
        print sample
        lost_samples.append(sample)
        count+=1
print count

10317.000030752
10317.000030761
10317.000030773
10317.000030766
10317.000030776
10317.000030777
10317.000030778
10317.000030780
10317.000030781
10317.000030768
10317.000030769
10317.000030770
10317.000036086
10317.000036090
10317.000036096
10317.000036065
10317.000036073
10317.000036074
10317.000036404
10317.000036405
10317.000036408
10317.000036426
10317.000036431
10317.000036432
10317.000036079
10317.000036403
10317.000036424
10317.000036930
10317.000036935
10317.000036936
10317.000036937
10317.000036948
10317.000036949
10317.000036951
10317.000036384
10317.000036385
10317.000036387
10317.000036388
10317.000036921
10317.000036922
10317.000036923
10317.000036924
10317.000036940
43

43 samples in mm 278 are not in in agp otu table yet. We would expect 18 samples (9 that are still not sequenced and 9 that were not logged due to consent issues). Additionally, 25 samples could have been lost because they did not produce good quality reads on sequencing.

In [53]:
missing_md=pd.read_table("../data/mm_missing_all.txt", sep='\t', dtype=str)
missing=list(missing['Unnamed: 0'])

In [65]:
#additional 25 samples missing due to poor quality reads: need resequencing 
c=0
lost_qc=[]
for samp in lost_samples:
    if samp not in missing:
        c+=1
        lost_qc.append(samp)
print lost_qc
print c

['10317.000030752', '10317.000030761', '10317.000030769', '10317.000036086', '10317.000036090', '10317.000036096', '10317.000036065', '10317.000036404', '10317.000036405', '10317.000036408', '10317.000036426', '10317.000036432', '10317.000036424', '10317.000036935', '10317.000036936', '10317.000036937', '10317.000036949', '10317.000036951', '10317.000036384', '10317.000036387', '10317.000036388', '10317.000036921', '10317.000036923', '10317.000036924', '10317.000036940']
25

In [56]:
#dropping the 43 samples for which we don't have sequences
mm_in_agmd=mm.drop(lost_samples)

In [57]:
mm_in_agmd.shape

(235, 487)

In [59]:
mm_in_agmd.to_csv("../data/ag235_w_scores.txt", sep='\t')

# checking summary table agp (old)

In [71]:
summary=pd.read_table("../data/summarize_agp_feces.txt", sep=":", dtype=str)
summary.shape

(7935, 2)

In [72]:
summary.head(5)

            Sample Count
0  10317.000015492   1.0
1  10317.000023901   1.0
2  10317.000036950   1.0
3  10317.000021624   1.0
4  10317.000028918   1.0

In [77]:
summary['Count']=pd.to_numeric(summary['Count'])
less_10k=[]
for idx in summary.index:
    if idx in mm and summary.ix[idx, 'Count'] < 10000:
        less_10k.append(summary.ix[idx,'Sample'])

In [78]:
len(less_10k)

0

None of the samples in our cohort of 278 samples (and subset 235 samples) have less than 10k reads. So our results should be meaningful.